@use "../../styles/typography" as *;
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 5rem 3rem 5rem;
  margin: 2rem 4rem 2rem 4rem;
  background-color: #ddb76a;
  border-radius: 2rem 0 2rem 0;

  .profile_picture {
    height: 15rem;
    width: 15rem;
    border-radius: 2rem;
    align-self: center;
  }
  .profile_description {
    padding: 1rem 2rem 1rem 2rem;
    font-family: $font-secondary;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    background-color: transparent;
  }
}
.extracuricular {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-family: $font-main;
  &__title {
    border-bottom: 0.1rem solid black;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}
.hobbies {
  margin: 2rem 3rem 2rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .container {
    position: relative;
    margin-top: 3rem;
    .container__image {
      height: 22rem;
      width: 25rem;
      object-fit: cover;
      opacity: 1;
      display: block;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }
    .container__text {
      font-family: $font-secondary;
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 10rem;
      left: 12.5rem;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-40%, -50%);
      background-color: transparent;

      text-align: center;
      .container__text--info {
        color: black;
        font-size: 1.5rem;
        width: 17rem;
        height: 14rem;
        background-color: none;
        background-color: transparent;
      }
    }
  }
}

.container:hover .container__image {
  opacity: 0.5;
}

.container:hover .container__text {
  opacity: 1;
}
