@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400&family=Cormorant+Garamond:wght@300&family=Oswald:wght@200;300;400;500&display=swap");

$font-main: "Cormorant Garamond", "sans-serif";
$font-secondary: "Asap Condensed", sans-serif;
$font-tertiary: "Oswald", sans-serif;
