@use "../../styles/typography" as *;

.information {
  display: flex;
  padding: 9rem;
  justify-content: space-around;
  align-items: center;
  font-family: $font-secondary;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}
