@use "../../styles/typography" as *;

.logo-ctner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;

  .logo-img {
    height: 4rem;
    width: 3rem;
  }
  .logo-name {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
    font-family: $font-main;
  }
}
.logo-name:hover {
  color: black;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  .links {
    margin: 0 0.7rem;
  }
}
