@use "../../styles/typography" as *;
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8rem 5rem 4rem 5rem;

  .skills-section {
    padding: 1rem;
    margin: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    .skills-section__image {
      height: 5rem;
      width: 5rem;
    }
    .skills-section__name {
      margin-top: 0.5rem;
      font-size: 1rem;
      font-family: $font-secondary;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
